.header{
    background-color:aqua;
    height: 65px;
}

h1 {
    padding-left: 30px;
    font-size: 30px;
    
}
.main {
    background-color:rgba(216, 247, 245, 0.979);
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;

}

li {
    font-size: 45px;
}

footer {
    background-color:rgb(65, 65, 65);
    
}
