.title {
    color: #02ccba;
  }

.header{
    background-color:aqua;
    height: 65px;
}

h1 {
    padding-left: 30px;
    border-bottom: aqua 2px;
}
.main {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;

}

li {
    font-size: 45px;
}
